@charset "utf-8";
/* CSS Document */
.header-menu-wrapper ul{
	float:left;
	list-style:none;}
	
.header-menu-wrapper ul li{
	position:relative;
	margin:5px;
	float:left;
	text-align:center;
	position:relative;}
	
.header-menu-wrapper ul li a{
	text-decoration:none;
	color:#ffffff;
	display:block;
	padding-left:8px;
	padding-right:8px;}
	
.header-menu-wrapper ul li:hover ul{
	background:#594e4e;
	display:block;}
	
.header-menu-wrapper ul li:hover ul li{
	}
	

.header-menu-wrapper ul li:hover{
	height:80px;
	line-height:80px;
	margin-top:-25px;
	background:#5a93e9;}
		
.header-menu-wrapper ul li ul{
	background:none;
	position:absolute;
	display:none;}
	
.header-menu-wrapper ul li ul li{
	float:none;
	width:186px;
	height:28px;
	color:#FFFFFF;
	background:#5a93e9;
	margin:2px 0px 0px 0px;}
	
.header-menu-wrapper ul li ul li:hover{
	width:186px;
	height:28px;
	margin:2px 0px 0px 0px;}